@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Russo+One');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  margin-left: 20%;
  margin-right: 20%;
}

h1 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

#header {
  margin-bottom: 5%;
  margin-top: 5%;
  padding: 2%;
  color: white;
  background: #481d74;
  border-radius: 15px;
  background: #7d7e7d; /* Old browsers */
  background: -webkit-linear-gradient(#7d7e7d 0%, #0e0e0e 100%);
  background: -o-linear-gradient(#7d7e7d 0%, #0e0e0e 100%);
  background: linear-gradient(#7d7e7d 0%, #0e0e0e 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}

#wrapper {
  border: 1px darkgrey solid;
  padding-bottom: 2%;
  border-radius: 15px;
}

#add-train {
  color: black;
  padding: 1%;
  padding-left: 1%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: #eeeeee; /* Old browsers */
  background: -moz-linear-gradient(top, #eeeeee 21%, #cccccc 75%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #eeeeee 21%,#cccccc 75%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #eeeeee 21%,#cccccc 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

#train-label, #destination-label, #first-train-label, #frequency-label {
  padding: 1%;
}

#train-schedule {
  color: black;
  padding: 1%;
  padding-left: 1%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: #eeeeee; /* Old browsers */
  background: -moz-linear-gradient(top, #eeeeee 21%, #cccccc 75%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #eeeeee 21%,#cccccc 75%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #eeeeee 21%,#cccccc 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

#schedule-wrapper {
  margin-bottom: 5%;
  border: 1px darkgrey solid;
  border-radius: 15px;
}

#submit-train {
  margin-left: 1%;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 27px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
#submit-train:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}

#trains {
  padding: 1%;
  width: 100%;
  text-align: center;
}

#tableOne {
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

#tableOne.td {
  text-align: left;
}

#tableTwo {
  border-bottom: 1px dotted darkgrey;
  text-align: left;
}

#time {
  text-align: center;
  font-size: 4em;
  font-family: 'Josefin Sans', sans-serif;
}

#timeDiv {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
}

}
/* NEED TO FIX THIS */
tr, td {
    border-bottom: 1px solid #ddd;
    text-align: left;
}
